body {
    background-color: #fff;
}
header {
    text-align: center;
    border-bottom: 1px solid #eef0f3;
    padding-bottom: 20px
}
section {
    width: 80%;
    margin: 20px auto 0;
    max-width: 800px;
}
.sortsView {
    background-color: #f7f8f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 10px;
}
.sortsPane {
    padding: 5px 10px;
}
.sortsPane select {
    width: 80px;
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
    border-color:#d4d5d6;
}
.mainProducts {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    max-width: 290px;
    min-width: 150px;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 260px;
}
.ads {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;
}
.spinner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.face {
    height: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.others {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    background-color: #f7f8f9;
    border-radius: 3px;
}
.size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    font-size: 12px;
}
.price {
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    font-weight: 800;
}
.time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    font-size: 12px;
}