body {
    background-color: #fff;
}
header {
    text-align: center;
    border-bottom: 1px solid #eef0f3;
    padding-bottom: 20px
}
section {
    width: 80%;
    margin: 20px auto 0;
    max-width: 800px;
   /* background-color: burlywood; */
}
.sortsView {
    background-color: #f7f8f9;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.sortsPane {
    padding: 5px 10px;
}
.sortsPane select {
    width: 80px;
    height: 25px;
    padding: 0 10px;
    border-radius: 3px;
    border-color:#d4d5d6;
}
.mainProducts {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid {
    display: flex;
    width: 40%;
    max-width: 290px;
    min-width: 150px;
    margin-bottom: 10px;
    align-items: center;
    flex-direction: column;
    height: 260px;
}
.ads {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;
}
.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.face {
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.others {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    background-color: #f7f8f9;
    border-radius: 3px;
}
.size {
    display: flex;
    width: 45%;
    font-size: 12px;
}
.price {
   justify-content: flex-end;
    display: flex;
    width: 45%;
    font-weight: 800;
}
.time {
    display: flex;
    width: 45%;
    font-size: 12px;
}